<section class="hero">
  <div class="hero-container">

    <div class="hero-photo">
      <img src="assets/profile.png" alt="César Aramayo">
    </div>

    <div class="hero-content">
      <h1>Cesar Aramayo</h1>
      <h2>SSR Backend / Full Stack Developer</h2>

      <p>
        Desarrollador con más de 6 años de experiencia en banca, seguros,
        telecomunicaciones y desarrollo de sistemas escalables.
      </p>

      <div class="hero-actions">
        <a href="#experience" mat-raised-button color="primary">
          Ver experiencia
        </a>

        <a href="assets/CV_Cesar_2026.pdf" download mat-stroked-button>
          Descargar CV
        </a>
      </div>
    </div>

  </div>
</section>