body.dark-mode {
  background: #111827;
  color: white;
}

body.dark-mode .mat-mdc-card,
body.dark-mode .mat-card {
  background: #1f2937;
  color: white;
}

body.dark-mode a {
  color: white;
}
body.dark-mode .skill-card {
  background: #1f2937;
}

body.dark-mode .skill-card span {
  color: white;
}